body{
    overflow-y: 0px;
    margin:0px;
    padding: 0px;
}
main{
    height: 600px;
    width: 100%;
    background-image: url(pexels-andreimike-1271619.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar{
    width: 500px;
    height: 90px;
    ul {
    list-style-type: none;
    text-align: right;
    width: 100%;
    top: -10px;
    position: fixed;
    right: 20px;
    
  }

  li {
    display: inline-flex;
    padding: 20px;
    
  }

  li a {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgba(255, 255, 255, 0.756);
    font-weight: 300;
  }

  a {
    text-decoration: none;
    color: white;
  }

}

.content{
    h1{
        color: rgb(15, 65, 32);
        text-align: center;
        padding-top: 100px;
        font-weight: bolder;
    }
    p{
        color: rgb(18, 10, 10);
        font-family: 'Courier New', Courier, monospace;
        font-size: 13px;
        font-weight: 700;
        width: 50%;
        margin-left: 300px;
        text-align: center;!important;
    }

}


.searchbar{
        position: relative;
        display: inline-block; 
    }

    .search-icon {
        position: absolute;
        left: 680px; 
        top: 13%;
        color:grey; 
    }

    .search-input {
        padding-left: 40px;
        margin-left: 500px;
        border-radius: 10px;
        border-style: solid;
        border-color: black 1px;
    }
