body {
  margin: 0;
  padding: 0;
}

.navdiv {
  background-color: white;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

  .logo {
    margin-top: 10px;
  }

  ul {
    list-style-type: none;
  }

  li {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    color: black;
  }

  li a {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    color: rgba(0, 0, 0, 0.756);
    font-weight: 300;
  }

  a {
    text-align: right;
    text-decoration: none;
    float: left;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  a:hover {
    color: rgb(0, 0, 0);
  }

  li button {
    margin-bottom: 7px;
  }
}

header {
  background-color: rgb(240 214 67);
  width: 100%;
  height: 800px;
  margin-top: 80px;
  position: static;
}

.page1 {
  background-color: rgb(240 214 67);
  float: left;
  width: 50%;
  margin-top: 30px;
  position: static;

  h1 {
    padding-left: 60px;
    font-size: 40px;
    width: 100%;
    margin-bottom: 0px;
  }
  p {
    padding-left: 60px;
    width: 100%;
    font-size: 20px;
    margin-top: 0px;
  }

  .intro h4 {
    color: rgba(67, 60, 60, 0.822);
  }

  .intro h4::before {
    content: url("icon1.svg");
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    padding-left: 60px;
  }

  .rating {
    padding-left: 60px;
  }

  .underline {
    text-decoration: underline blue;
  }
}

.page01 {
  background-color: rgb(240 214 67);
  color: black;
  h4 {
    color: black;
    padding-left: 60px;
  }
  ul {
    padding-left: 70px;
  }
  li {
    display: block;
    padding: 0px;
  }
}

.reg {
  background-color: rgb(240 214 67);
  float: right;
  width: 46%;
  position: static;
  z-index: 0;
}

.reg h2 {
  text-align: center;
  margin-top: 65px;
}

.reg form {
  margin-left: 150px;
  width: 360px;
  padding: 20px 20px 20px 10px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 10%;
}

main{
  max-width: 100%;

}
/*second nav bar */
main {
  .navdiv2 {
    position: sticky;
    top: 87px;
    z-index: 999;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
}
.navdiv2 {
  ul {
    border: 1px solid rgb(0, 122, 255);
    border-radius: 10px;
    background-color: #e6f2ff;
    margin-top: 10px;
    padding: 20px;
    position: sticky;
    top: 0px;
    overflow: hidden;
  }

  li {
    display: inline-block;
  }
  li a {
    display: block;
    padding: 15px;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
  }
}

.page2{
  margin-left: 30px;
}
.page2 h1 {
  margin-left: 20px;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page2-1 p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #606162;
  margin-left: 30px;
  width: 75%;
  text-align: justify;
  position: relative;
}

.page2-2 {
  display: flex;
  margin-left: 1000px;
  img {
    width: 220px;
    height: 220px;
    position: absolute;
    top: 1060px;
  }
}

.page3 h1 {
  margin-left: 340px;
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page3-1 p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  color: #606162;
  margin-left: 340px;
  text-align: justify;
  width: 70%;
  position: relative;
}

.page3-2 {
  height: 0px;
  width: 0px;
  img {
    width: 250px;
    height: 250px;
    position: relative;
    margin-right: 1000px;
    top: -200px;
    padding-left: 50px;
  }
}

.page4 {
  padding-left: 30px;
  h1 {
    padding: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .page4-1 p {
    padding-left: 30px;
    font-size: 20px;
    color: #606162;
    width: 69%;
  }

  .page4-2 {
    ul {
      padding-left: 30px;
      font-size: 20px;
      color:#606162;
      width: 69%;
      margin-left: 30px;
      
    }
    ul li {
      margin-bottom: 20px;
    }
    p {
      margin-left: 30px;
      font-size: 20px;
      color: #606162;
      width: 69%;
    }
  }
  .page4-3 {
    width: 0px;
    height: 0px;
    img {
      width: 260px;
      height: 260px;
      margin-left: 976px;
      top: -514px;
      position: relative;
    }
  }
}

.page5{
  background-color: #F1F7FF;
  padding-left: 30px;
.page5-1{
  padding-left: 30px;
  font-size: 20px;
  color: #606162;
}

.page5-2{
  h2{
    color: black;
    padding: 30px;
  }
  p{
    padding-left: 30px;
    color: #606162;
    font-size: 20px;
    width: 69%;
    text-align: justify;
    margin-top: -30px;

  }
}

.page5-3{
  ul{
    color: #606162;
    width: 63%;
    font-size: 20px;
    text-align: justify;
  }

  ul li{
    margin-bottom: 20px;

  }
}

.page5-4{
  h2{
    color: black;
    padding-left: 30px;
  }
  p{
    width: fit-content;
    padding-left: 30px;
    font-size: 20px;
    color: #606162;
  }
}
.page5-41{
   width: 0px;
    height: 0px;
    img {
      width: 260px;
      height: 260px;
      margin-left: 875px;
      top: -160px;
      position: relative;
    }
  }

  .page5-42{
    ul{
    color: #606162;
    padding-right: 30px;
    font-size: 20px;
    text-align: justify;
    }

  ul li{
    margin-bottom: 20px;
    padding-right: 20px;

    }
  }
.page5-51{
  h2{
    color: black;
    padding-left: 30px;
  }
  p{
    width: fit-content;
    padding-left: 30px;
    font-size: 20px;
    color: #606162;
  }
}
.page5-5{
  ul{
    color: #606162;
    padding-right: 30px;
    font-size: 20px;
    text-align: justify;
  }

  ul li{
    margin-bottom: 20px;
    padding-right: 20px;


  }
}
}

.page6{
  h2{
    color: black;
    padding-left: 30px;
  }
.page6-1 {
    width: fit-content;
    padding-left: 30px;
    font-size: 20px;
    color: #606162;
    line-height: 30px;
}
  .page6-2{
      background-color: rgba(230, 242, 255, 0.621);
      border: 1px  rgb(114, 200, 240);
      border-radius: 10px;
      box-shadow:rgba(0, 0, 0, 0.2) ;
      width: 80%;
      margin-left: 100px;
      border-style: ridge;
      
  p{
    padding-left: 30px;
    font-size: 20px;
    color: #606162;
    padding-right: 20px;
    line-height:  30px;
  }

}
}
